@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* Font families */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800&display=swap");

* {
    @apply font-sans font-light;
}
html {
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: #000;
}
.container {
    @apply max-w-screen-xl mx-auto px-4;
}

.btn,
.wp-block-button > .wp-element-button,
.side-nav a {
    @apply text-sm md:text-base lg:text-xl inline-block font-normal px-4 py-2 border-2 border-red rounded-full transition focus:outline-none cursor-pointer bg-red text-white min-w-32 text-center;
}
.btn:hover,
.wp-block-button > .wp-element-button:hover,
.side-nav a:hover {
    @apply bg-red/75;
}

.btn-secondary,
.wp-block-button.secondary-btn > .wp-element-button {
    @apply text-sm md:text-base lg:text-xl inline-block font-normal px-4 py-2 border-2 border-white rounded-full transition focus:outline-none cursor-pointer bg-transparent text-white min-w-32 text-center;
}
.btn-secondary:hover,
.wp-block-button.secondary-btn > .wp-element-button:hover {
    @apply bg-white text-black;
}

.btn-inline,
.entry-content p a {
    @apply text-yellow relative md:text-xl pr-6;
}
.btn-inline::after,
.entry-content p a::after {
    position: absolute;
    right: 0;
    font-family: "Font Awesome 7 Free";
    content: "\f061";
    font-weight: 900;
    font-size: 0.875em;
}

h1,
.h1 {
    @apply text-5xl lg:text-6xl mb-4 text-yellow font-gothicRough tracking-[2.2px];
}
h2,
.h2 {
    @apply text-4xl lg:text-5xl mb-4 text-white font-gothicRough tracking-[1.5px];
}
h2 strong,
.h2 strong {
    @apply text-yellow;
}
h3,
.h3 {
    @apply text-3xl lg:text-4xl mb-4 lg:mb-8;
}
h4,
.h4 {
    @apply text-base uppercase text-accent;
}

img {
    @apply max-w-full h-auto;
}

p {
    @apply text-base md:text-xl mb-3 md:mb-4 tracking-[0.4px] font-inter font-light;
}

/* Navigation */
.nav.active {
    @apply opacity-100 pointer-events-auto;
}
.nav a {
    @apply text-white hover:text-accent transition text-2xl md:text-base lg:text-xl;
}
.nav a:hover {
    @apply text-yellow;
}

.side-nav a {
    @apply leading-none;
}

/* Content blocks */
.content-media h1,
.content-media h2 {
    @apply lg:text-6xl font-extralight mb-4 lg:leading-[120%];
}
.content-media .title h4 {
    @apply font-medium tracking-widest;
}

.content-block h2,
.content-block h3 {
    @apply text-4xl lg:text-6xl mb-4 lg:mb-8 font-extralight;
}
.content-block p {
    @apply max-w-3xl m-auto;
}

/* contact forms */
.form .gform_wrapper.gravity-theme .gfield_label,
.form .gform_wrapper.gravity-theme .gform-field-label {
    @apply text-accent text-lg mb-2 font-extralight;
}
.form .gform_wrapper.gravity-theme .ginput_container input,
.form .gform_wrapper.gravity-theme .ginput_container select,
.form .gform_wrapper.gravity-theme .ginput_container textarea {
    @apply text-white py-3 px-0 placeholder:text-white placeholder:opacity-70 bg-transparent border-b-2 border-b-grayDark font-inter;
}
.form .gform_wrapper.gravity-theme .gform_footer input[type="submit"] {
    @apply font-normal px-6 py-3 rounded focus:outline-none focus:ring-2 cursor-pointer;
}
/* Newsletter specific styles */
.form .gform_wrapper.newsletter_wrapper .gform_fields {
    position: relative;
    border-bottom: 2px solid #585858;
}
.form .gform_wrapper.newsletter_wrapper .gfield {
    position: relative;
}
.form .gform_wrapper.newsletter_wrapper .gfield.gfield--type-email input {
    border: none;
}
.form .gform_wrapper.newsletter_wrapper .gfield--type-submit {
    position: absolute;
    width: 30px;
    aspect-ratio: 1 / 1;
    padding: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}
.form .gform_wrapper.newsletter_wrapper input[type="submit"] {
    @apply font-normal p-0 rounded-full focus:outline-none focus:ring-2 cursor-pointer bg-yellow text-[0px] w-full h-full;
}
.form .gform_wrapper.newsletter_wrapper .gfield--type-submit::after {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "Font Awesome 7 Free";
    content: "\f061";
    font-weight: 900;
    font-size: 1rem;
    color: #fff;
    pointer-events: none;
}
.form .gform_wrapper.newsletter_wrapper .gform_footer {
    display: none;
}
.form .gform_wrapper.newsletter_wrapper .gfield .validation_message {
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(4px);
}

/* Footer */
.footer .reviews h2 {
    @apply text-5xl md:text-6xl xl:text-[85px];
}
.footer .reviews h2 strong {
    @apply font-gothicRough block;
}
.footer .footer-nav a {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-size: 20px;
}
